/**
 * Float Layout Activity
 **/

 * {
    box-sizing: border-box;
    text-align: center;
  }
  
  body {
  }
  
  header {
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    background-color: #ccc;
  }
  
  section {
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    background-color: #eee;
  }
  
  #left {
    width: 33.3%;
    float: left;
    padding: 20px;
    color: white;
    background-color: #666;
  }
  
  #middle {
    width: 33.3%;
    float: left;
    padding: 20px;
    color: white;
    background-color: #888;
  }
  
  #right {
    width: 33.3%;
    float:left;
    padding: 20px;
    color: white;
    background-color: #666;
  }
  
  #full {
    overflow: auto;
    margin: 200px o;
    clear: both;
    color: #333;
    background-color: #eee;
  }
  
  #division {
    padding: 20px;
    color: #333;
    background-color: #6ea3da;
  }
  
  aside {
    width: 200px;
    height: 200px;
    float:left;
    color: #333;
    background-color: #fff;
    margin-left: 30px;
  }
  
  footer {
    clear: both;
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    background-color: #ccc;
  }